@model BannerDataDictionary.Models.SearchModel
@{
    ViewBag.Title = "Search";
}

@section subhead
{
    <h1>@ViewBag.Message</h1>

    <div>
        <p>Search <i>Any</i> Linked Server for Tables, Columns or Comments matching the criteria provided</p>
    </div>
}
      
@using (Html.BeginForm("Details", "Search"))
{
    @Html.AntiForgeryToken();
    <fieldset>
        <legend>Search Form</legend>
        <p>Select the Linked Server(s) to search against:</p>
        
        @Html.ListBoxFor(x => x.SelectedServerNames, new MultiSelectList(Model.LinkedServers, "Name", "Name"))<br/>
        @*@Html.ListBoxFor(x => x.SelectedServerNames, Model.Items) <br/>*@
        <p>
            Enter keyword(s) or text string that can be part of a Table Name, Column Name, or be present in the comment fields.
        </p>
        <ol>
            <li class="name">
                @Html.LabelFor(x => x.SearchString)
                @Html.TextBoxFor(x => x.SearchString)
            </li>
        </ol>
        
        <input type="submit" value="Search" />
    </fieldset>

} <!--End using (Html.BeginForm("Details", "Search")) -->