@model IEnumerable<BannerDataDictionary.Models.Table>
@{
    ViewBag.Title = "Tables";
}

@Styles.Render("~/Content/DataTables-1.9.4/media/css/dataTables")

@section subhead
{
    <h1>@ViewBag.Message</h1>

    <div>
        <p>A listing of Banner Student Tables</p>
    </div>
}

@section subnav
{
    <li>@Html.ActionLink("Sample Index", "Index")</li>
    <li>@Html.ActionLink("Form", "Form")</li>
    <li>@Html.ActionLink("Table", "Table")</li>
    <li class="active">@Html.ActionLink("Data Tables", "DataTable")</li>
    <li>@Html.ActionLink("Display Form", "DisplayForm")</li>
}

@section AdditionalScripts
{
    @Scripts.Render("~/bundles/datatables")

    <script type="text/javascript">
        $(function () {
            $(".table").dataTable({
                "aaSorting": [[1, "asc"]], //Default sort on second column
                //"aoColumnDefs": [
                //    { 'bSortable': false, 'aTargets': [0] } //Disables sort on icon columns
                //]
            });
        });
    </script>
    
}

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Owner</th>
            <th>Name</th>
            <th>Comments</th>
            <th>Num Rows</th>	
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Owner</td>
                <td>@Html.ActionLink(item.TableName, "Details", "Tables", new { id = item.TableName }, null)</td>
                <td>@item.Comments</td>
                <td>@item.NumRows</td>
            </tr>
        }
    </tbody>
</table>