
<div id="Columns">
    <div>@Html.Partial("_Spacer")</div>
    <h3>Columns</h3>
    <div id="ColumnsNav">
    <ul class="nav nav-pills">
        <li><a href="#Indexes">Indexes</a></li>
        <li><a href="#Constraints">Constraints</a></li>
        <li><a href="#top">Top</a></li>
    </ul>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                @*<th></th>*@
                <th>#</th>
                <th>Column Name</th>
                <th>Comments</th>			
                <th>Data Type</th>
                <th>Length</th>
                <th>Precision</th>
                <th>Scale</th>
                <th>Nullable?</th>
                @*<th></th>*@		
            </tr>
        </thead>
        <tbody>
       
            @foreach (var item in Model.Columns)
            {
                <tr>
                    @*<td></td>*@
                    <td>@item.ColumnId</td>
                    <td>@item.ColumnName</td>
                    <td>@item.ColumnComments</td>
                    <td>@item.DataType</td>
                    <td>@item.DataLength</td>
                    <td>@item.DataPrecision</td>
                    <td>@item.DataScale</td>
                    <td>@item.Nullable</td>
                    @*<td></td>*@
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="Indexes">
    <div>@Html.Partial("_Spacer")</div>
    <h3>Indexes</h3>
    <div id="IndexesNav">
    <ul class="nav nav-pills">
        <li><a href="#Columns">Columns</a></li>
        <li><a href="#Constraints">Constraints</a></li>
        <li><a href="#top">Top</a></li>
    </ul>
    </div>
    <table id="IndexTable" class="table-bordered table-striped">
        <thead>
            <tr>
                <th>Position</th>
                <th>Index Name</th>
                <th>Column Name</th>
                <th>Uniqueness</th>
                <th>Distinct Keys</th>
                <th>Sort Order</th>
            </tr>
        </thead>
        <tbody>
       
            @foreach (var item in Model.Indexes)
            {
                <tr>
                    <td>@item.ColumnPosition</td>
                    <td>@item.IndexName</td>
                    <td>
                        @item.ColumnName
                    </td>
                    <td>@item.Uniqueness</td>
                    <td>@item.DistinctKeys</td>
                    <td>@item.SortOrder</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="Constraints">
    <div>@Html.Partial("_Spacer")</div>
    <h3>Constraints</h3>
    <div id="ConstraintsNav">
        <ul class="nav nav-pills">
            <li><a href="#Columns">Columns</a></li>
            <li><a href="#Indexes">Indexes</a></li>
            <li><a href="#top">Top</a></li>
        </ul>
    </div>
    <table id="ConstraintTable" class="table-bordered table-striped">
        <thead>
            <tr>
                <th>Position</th>
                <th>Constraint Name</th>
                <th>Column Name</th>
                <th>Constraint Type</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
       
            @foreach (var item in Model.Constraints)
            {
                <tr>
                    <td>@item.ColumnPosition</td>
                    <td>@item.ConstraintName</td>
                    <td>
                        @item.ColumnName
                    </td>
                    <td>@item.ConstraintType</td>
                    <td>@item.Status</td>
                </tr>
            }
        </tbody>
    </table>
</div>