@model BannerDataDictionary.Models.TableDetailsModel

@{
    ViewBag.Title = "Table Details";
}

@Styles.Render("~/Content/DataTables-1.9.4/media/css/dataTables")

@section subhead
{
    <h1>@ViewBag.Message</h1>

    <div>
        <h2>Banner.@Model.Owner.@Model.TableName</h2>
         <h5>
             <p>@Model.TableComments</p>
             @*<p>Comments...</p>*@
             <p>Num Rows: @Model.NumRows</p>
    </h5>	
    </div>
}

@section subnav
{
    <li>@Html.ActionLink("Table Listing", "Index", "Home")</li>
    <li class="active">@Html.ActionLink("Table Details", "Details", "Home", null, new { id = @Model.TableName })</li>
}

@section AdditionalScripts
{
    @Scripts.Render("~/bundles/datatables")

    <script type="text/javascript">
        $(function () {
            $(".table").dataTable({
                "aaSorting": [[0, "asc"]], //Default sort on second column
                //"aoColumnDefs": [
                //    //{ 'bSortable': false, 'aTargets': [0, 5] } //Disables sort on icon columns
                //]
            });
        });
    </script>
    
}

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            @*<th></th>*@
            <th>#</th>
            <th>Column Name</th>
            <th>Comments</th>			
            <th>Data Type</th>
            <th>Length</th>
            <th>Precision</th>
            <th>Scale</th>
            <th>Nullable?</th>
            @*<th></th>*@		
        </tr>
    </thead>
    <tbody>
       
        @foreach (var item in Model.Columns)
        {
            <tr>
                @*<td></td>*@
                <td>@item.ColumnId</td>
                <td>@item.ColumnName</td>
                <td>@item.ColumnComments</td>
                <td>@item.DataType</td>
                <td>@item.DataLength</td>
                <td>@item.DataPrecision</td>
                <td>@item.DataScale</td>
                <td>@item.Nullable</td>
                @*<td></td>*@
            </tr>
        }
    </tbody>
</table>
<hr/>
<h3>Indexes</h3>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Index Name</th>
            <th>Column Name</th>
            <th>Uniqueness</th>
            <th>Distinct Keys</th>
       </tr>
    </thead>
    <tbody>
       
        @foreach (var item in Model.Indexes)
        {
            <tr>
                <td>@item.IndexName</td>
                <td>
                    <table>
                        @foreach (var column in item.Columns)
                        {
                            <tr><td>@column.ColumnName</td></tr>
                        }
                    </table>
                </td>
                <td>@item.Uniqueness</td>
                <td>@item.DistinctKeys</td>
            </tr>
        }
    </tbody>
</table>
