@model BannerDataDictionary.Models.TableDetailsModel

@{
    ViewBag.Title = "Table Details";
}

@Styles.Render("~/Content/DataTables-1.9.4/media/css/dataTables")

@section subhead
{
    <h1>@ViewBag.Message</h1>

    <div>
        <h2>Banner.@Model.Owner.@Model.TableName</h2>
         <h5>
             <p>@Model.TableComments</p>
             @*<p>Comments...</p>*@
             <p>Num Rows: @Model.NumRows</p>
    </h5>	
    </div>
}

@section subnav
{
    <li>@Html.ActionLink("Table Listing", "Index", "Home")</li>
    <li class="active">@Html.ActionLink("Table Details", "Details", "Home", null, new { id = @Model.TableName })</li>
    <li><a href="#ColumnsSection">Columns</a></li>
    <li><a href="#IndexesSection">Indexes</a></li>
    <li><a href="#ConstraintsSection">Constraints</a></li>
}

@section AdditionalScripts
{
    @Scripts.Render("~/bundles/datatables")

    <script type="text/javascript">
        $(function () {
            var oTable = $(".table").dataTable({
                "aaSorting": [[0, "asc"]], //Default sort on second column
                //"aoColumnDefs": [
                //    //{ 'bSortable': false, 'aTargets': [0, 5] } //Disables sort on icon columns
                //]
            });
            var oTable2 = $('#IndexTable').dataTable({
                "bSort": false,
                "bPaginate": false,
                "bInfo":false           
            });
            var oTable3 = $('#ConstraintTable').dataTable({
                "bSort": false,
                "bPaginate": false,
                "bInfo": false
            });

        });
    </script>
    
}
 
<div id="TableDetails">
    @Html.Partial("_TableDetails")
</div>

